# Prerequisites
*.d

# Executable
*.exe

# ccls
.ccls-cache/

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries


# Shared objects (inc. Windows DLLs)

# Vscode shit
.vscode/

# Cmake stuff
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Build directory
build

.gitignore